{% extends "base.html" %}
{% block content %}
    <div class="field">
    <label class="label">Things to do:</label>
    <h1>Things to do:</h1>
        <table class="table table is-bordered  is-striped
                is-hoverable " style="width:100%">

            <tr>
                <th>Checkliste</th>
                <th>Objekt</th>
                <th>Prüfpunkt</th>
                <th>OK</th>
                <th>geprüft am</th>
                <th>Mangel</th>
                <th>Frist zu Behebung</th>
                <th>Behoben am</th>
                <th>Durchgeführt von</th>

                
                
                
            </tr>
            {% for item in object_list %}
            <tr>
                <td>{{ item.text }}</td>
                <td>{{ item.due_date }}</td>
            
            
            
            </tr>
                
            {% endfor %}
        </table>
    </div>
{% endblock %}