{% extends "base.html" %}
{% block content %}
    <div class="field">
    <label class="label">Things to do {% url 'admin:index' %} :</label>
        <table class="table table is-bordered  is-striped
                is-hoverable " style="width:100%">
        <a href="{% url 'admin:index' %}">link to admin panel</a>

        
            <tr>
                <th>Checkliste</th>
                <th>Objekt</th>
                <th>Prüfpunkt</th>
                <th>OK</th>
                <th>Mangel</th>
                <th>Frist zu Behebung</th>
                <th>Behoben/ Geprüft am</th>
                <th>Durchgeführt von</th>


            </tr>
            {% for item in object_list %}
            <tr>
                <td>{{ item.checkliste }}</td>
                <td>{{ item.objektort }}</td>
                <td>{{ item.pruefpunkt }}</td>
                <td>{{ item.ok.name }}</td>
                <td>{{ item.mangel}}</td>
                <td>{{ item.frist }}</td>
                <td>{{ item.behoben }}</td>
                <td>{{ item.von}}</td>




            </tr>

            {% endfor %}
        </table>
    </div>
{% endblock %}